a {
    text-decoration: none;
    color: aqua;
}

li {
    list-style: none;
}

.font {
    font-size: xx-large;
}

.nav-link1 li {
    /* background-color: aqua; */
    padding: 10px;
}

.nav-link1 li:hover {
    background-color: aqua;
    padding: 10px;
}

.nav-link1 li a {
    text-decoration: none;
    color: black !important;
}

.text {
    background-color: rgb(4, 97, 173);
    font-style: inherit;
}

.btn {
    font-size: xxxlarger;
    font-style: normal;
    text-shadow: 0cap;
}

.BROWSE:hover {
    background-color: white !important;
    color: blue !important;

}

.btnnn {
    background-color: aquamarine;
}

.box {
    border: 2px solid black;
    /* text-align:center; */
}

.good {
    left: center;
    top: 30%;
    color: rgb(22, 235, 47);
    /* border: 2px solid white; */
    display: inline-block;
    font-family: cursive;

    text-align: center;
}

.good h1 {
    font-size: 100px;
}

.god {
    bottom: 10%;
    left: 20%;
    color: blueviolet;
}

.top {
    background-color: rgb(255, 0, 166);
}



.gud1 {


    top: 50%;
    color: rgb(22, 235, 47);
    /* border: 2px solid white; */
    display: inline-block;
    font-family: cursive;
    text-align: center;
    bottom: 50%;
    margin-left: auto;
}

.sign {
    /* border: 2px solid black ; */
    background-color: beige;
    border-radius: 12px;
}

.passDiv {
    position: relative;
}

.eye {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}

.mt {
    background-color: aquamarine;
    border-radius: 12px;
    border: 5px solid black;
    height: 80vh;
    padding-top: 30px;

}
.mt a{
    text-decoration:  none ;
font-style: unset;
font-weight: 300;
font-size: xx-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }
    .footer{
    background-color: rgb(255, 0, 0);
     border-radius: 12px;
    border: 2px solid black;
    }
    .a2{
       text-align:justify;
    }
.ab{
    background-color:white;
    border-radius: 12px;
    border: 2px solid black;
}
.bt{
    background-color: aqua;
    border-radius: 15px;
    border: 5px solid black;
}
.aa{
background-color: aqua;
border-radius: 15px;
}
.tp{
     border-radius: 12px;
    border: 2px solid black;
}